<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <modules runAllManagedModulesForAllRequests="false">
    <remove name="WebDAVModule" />
  </modules>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\BasicService.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  <system.web>
    <compilation defaultLanguage="c#" />
  </system.web>
</configuration>
<!--ProjectGuid: 8f4f3e13-9884-4705-9f54-4e35970a0d3f-->